@import '~react-md/dist/react-md.teal-pink.min.css';

.app {
  margin-left: auto;
  margin-right: auto;
}

.task {
  button {
    display: none;
  }

  &:hover {
    button {
      display: block;
    }
  }
}